@model Book
<form asp-action="Delete" method="post">
    <h2>Xác nhận xóa sách</h2>
    <hr />
    <input asp-for="Id" type="hidden" />
    <div class="alert alert-info">
        Bạn có muốn xóa sách @Model.Title?
    </div>
    <button type="submit" class="btn btn-danger">Đồng ý xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</form>
